body {
    margin: 0;
    background-color: #000010;
}

#fibonacci-container, #merge-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#fibonacci-container {
    height: 300px;
    border-bottom: 3px solid white;
}

.container-title {
    color: white;
}

#fibonacci-iteration-para, #fibonacci-recursion-para {
    color: white;
}

/* Merge */

#merge-para {
    color: white;
}