body {
    margin: 0;
    background-color: #000010;
}

#fibonacci-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-title {
    color: white;
}

#fibonacci-iteration-para, #fibonacci-recursion-para {
    color: white;
}